header.bbl
header.fdb_latexmk
header.fls
header.log
presentation-blx.bib
presentation.aux
presentation.bbl
presentation.blg
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.nav
presentation.out
presentation.run.xml
presentation.snm
presentation.synctex.gz
presentation.toc
presentation.xdv
trash
.DS_Store
